.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #f8f9fd;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    padding: 13px 8px;
    width: 100%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 25px;
    cursor: pointer;
    font-size: 15px;
    background: #16a2c3;
    border: none;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #1191ad;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    width: 100%;
}

img {
    width: 180px;
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
