.rightSidebar {
    z-index: 50;
    background-color: #F4F4F6;
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -400px;
    transition: 150ms;
}
.rightSidebar.active {
    right: 0;
    transition: 150ms;
}

p {
    color: #000;
}