.selectLabelButton {
    background-color: #dadada;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 150ms;
}

.selectLabelButton:hover {
    background-color: #afafaf;
}