.cardSearch {
  padding: 0 4px 0 4px;
  background-color: #FFFEFE;
}

.filter-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #474747;
  border-bottom: 1px solid #c0bebe;
  padding-bottom: 5px;
}

.membersList form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.cardSearch p {
  color: rgb(64, 65, 65);
  font-size: 0.8rem;
  padding-left: 1px;
  margin: 15px 0 10px 0;
}

.filter-top-bar p {
  font-size: 1rem;
  margin: 0;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 7px 7px;
}

.members input[type=checkbox] {
  margin-right: 10px;
}

.css-1t4vnk2-MuiDialogContent-root {
  padding: 0 !important;
  margin: 0 !important;
}

.css-1vfhusy-MuiPaper-root {
  padding: 15px 20px 5px 20px !important;
}