.user-boards-container .board {
    background-color: #282C34;
    color: #FFF;
    padding: 8px 5px;
    margin-bottom: 8px;
    font-size: 1.3rem;
    cursor: pointer;
}

.user-boards-container .board:hover {
    background-color: #2377b0;
}

.user-boards-container .clicked-active {
    background-color: #2377b0;
}